In [3]:
import pandas as pd

In [6]:
df = pd.read_excel("C:/Users/Harshitha/Documents/Sample - Superstore.xls")

In [7]:
print(df.head())

   Row ID        Order ID Order Date  Ship Date       Ship Mode Customer ID  \
0       1  CA-2020-152156 2020-11-08 2020-11-11    Second Class    CG-12520
1       2  CA-2020-152156 2020-11-08 2020-11-11    Second Class    CG-12520
2       3  CA-2020-138688 2020-06-12 2020-06-16    Second Class    DV-13045
3       4  US-2019-108966 2019-10-11 2019-10-18  Standard Class    SO-20335
4       5  US-2019-108966 2019-10-11 2019-10-18  Standard Class    SO-20335

     Customer Name    Segment Country/Region             City  ...  \
0      Claire Gute   Consumer  United States        Henderson  ...
1      Claire Gute   Consumer  United States        Henderson  ...
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...

  Postal Code  Region       Product ID         Category Sub-Category  \
0     42420.0   South  FUR-BO-10001798        Furniture    Bookcases
1     42420.0   South  FUR-CH-10000454        Furniture       Chairs
2     90036.0    West  OFF-LA-10000240  Office Supplies       Labels
3     33311.0   South  FUR-TA-10000577        Furniture       Tables
4     33311.0   South  OFF-ST-10000760  Office Supplies      Storage

                                        Product Name     Sales  Quantity  \
0                  Bush Somerset Collection Bookcase  261.9600         2
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2  Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3      Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                     Eldon Fold 'N Roll Cart System   22.3680         2

   Discount    Profit
0      0.00   41.9136
1      0.00  219.5820
2      0.00    6.8714
3      0.45 -383.0310
4      0.20    2.5164

[5 rows x 21 columns]

In [8]:
df.drop_duplicates(inplace=True)

In [9]:
df.dropna(inplace=True)

In [10]:
df["TotalProfit"] = df["Sales"] - df["Discount"] * df["Sales"]

In [11]:
df["Order Date"] = pd.to_datetime(df["Order Date"])

In [12]:
df["Month"] = df["Order Date"].dt.month
df["Year"] = df["Order Date"].dt.year

In [13]:
df.to_csv("cleaned_superstore.csv", index=False)

In [ ]:
#SQlite

In [14]:
import sqlite3

In [15]:
conn = sqlite3.connect('superstore.db')

In [16]:
df.to_sql('sales_data', conn, if_exists='replace', index=False)

9983

In [17]:
query = '''
SELECT Category, SUM(Sales) as TotalSales, SUM(Profit) as TotalProfit
FROM sales_data
GROUP BY Category
ORDER BY TotalProfit DESC
'''

In [18]:
result = pd.read_sql(query, conn)

In [19]:
print(result)

          Category   TotalSales  TotalProfit
0       Technology  834554.2730  145007.6618
1  Office Supplies  716837.5220  121885.0358
2        Furniture  736879.6953   17259.3458